language: objective-c
os: osx
osx_image: xcode10.2
cache: cocoapods
env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - WORKSPACE=RxSSDP.xcworkspace
    - SCHEME=RxSSDP
    - EXPANDED_CODE_SIGN_IDENTITY=""
    - EXPANDED_CODE_SIGN_IDENTITY_NAME=""
    - EXPANDED_PROVISIONING_PROFILE=""
  matrix:
    - DESTINATION="platform=iOS Simulator,name=iPhone XS"

jobs:
  include:
    - stage: test
      script:
        - ./Pods/SwiftLint/swiftlint
        - set -o pipefail
        - xcodebuild -version
        - xcodebuild -showsdks
        - xcodebuild clean -workspace "$WORKSPACE" -scheme "$SCHEME" | xcpretty
        - xcodebuild test -workspace "$WORKSPACE" -scheme "$SCHEME" -destination "$DESTINATION" | xcpretty
    - stage: deploy
      if: tag IS present
      script:
        - pod trunk push